/* Universal styles */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    padding: 3rem 10rem 0;
    flex: 1;
}

a {
    text-decoration: none;
    color: black;
}

/* Header and nav */
header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 6rem 10rem 0;
    background-color: #DBFF00;
}

header h1 {
    font-size: 4rem;
    margin-bottom: 0;
    z-index: 2;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    justify-content: flex-end;
}

nav ul li {
    padding: 0 0 0 6rem;
    font-size: 1.5rem;
    z-index: 2;
}

nav a:hover {
    font-weight: bold;
}

.header-alignment {
    background-color: white;
    margin-top: -13px;
    height: 13px;
    z-index: 0;
}

.current {
    font-weight: 700;
}

/* Main sections*/
.main {
    display: flex;
    margin-top: 1.5rem;
}

.main h2 {
    font-size: 2.5rem;
    margin-top: 0;
}

.main h3 {
    font-size: 1.75rem;
    margin-top: 3rem;
}

.container {
    padding-right: 3rem;
    width: 50%;
}

.img-container {
    width: 50%;
}

/* About */
.portrait {
    width: 25%;
    height: auto;
    margin-left: 20px;
    position: absolute;
    right: 10rem;
    z-index: 2;
}

.offset-about {
    background-color: #DBFF00;
    width: 23rem;
    height: 23rem;
    position: absolute;
    right: 12rem;
    margin-top: 1rem;
}

.skills {
    font-size: 2em;
}

.skills i {
    padding-right: 1rem;
}

/* Projects */
.projects h3 {
    font-size: 1.25rem;
}

#heading-highlight1 {
    background-color: #DBFF00;
    height: 1em;
    position: absolute;
    z-index: -1;
    margin-top: -2em;
}

.project-img {
    width: 25%;
    height: auto;
    margin-left: 20px;
    position: absolute;
    right: 10rem;
    z-index: 2;
}

.offset-projects {
    background-color: #DBFF00;
    width: 23rem;
    height: 23rem;
    position: absolute;
    right: 12rem;
    margin-top: 1rem;
}

.offset-projects2 {
    background-color: #DBFF00;
    width: 22.75rem;
    height: 22.75rem;
    position: absolute;
    right: 10rem;
}

/* Contact */
.contacts i {
    padding-right: 4rem;
    font-size: 2rem;
    margin-top: 1rem;;
}

.contacts a {
    color: black;
}

.contacts a:hover {
    color: #DBFF00;
}

/* Footer */
footer {
    text-align: center;
}