/* Universal styles */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    padding: 3rem 10rem 0;
    flex: 1;
    display: flex;
    margin-top: 1.5rem;
}

.main h2 {
    font-size: 2.5rem;
    margin-top: 0;
}

.main h3 {
    font-size: 1.75rem;
    margin-top: 3rem;
}

.container {
    padding-right: 3rem;
    width: 50%;
}

a {
    text-decoration: none;
    color: black;
}

/* Header and nav */
header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 6rem 10rem 0;
    background-color: #DBFF00;
}

header h1 {
    font-size: 4rem;
    margin-bottom: 0;
    z-index: 2;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    justify-content: flex-end;
}

nav ul li {
    padding: 0 0 0 6rem;
    font-size: 1.5rem;
    z-index: 2;
}

nav a:hover {
    font-weight: bold;
}

.header-alignment {
    background-color: white;
    margin-top: -13px;
    height: 13px;
    z-index: 0;
}

.current {
    font-weight: 700;
}

/* About */
.portrait {
    width: 25rem;
    height: auto;
    margin-left: 20px;
    position: absolute;
    right: 10rem;
    z-index: 2;
}

.offset-about {
    background-color: #DBFF00;
    width: 25rem;
    height: 25rem;
    position: absolute;
    right: 14rem;
    margin-top: 4rem;
    z-index: -1;
}

.skills {
    font-size: 2em;
}

.skills i {
    padding-right: 1rem;
}

/* Projects */
.projects h3 {
    font-size: 1.25rem;
}

.projects h3:hover {
    cursor: pointer;
}

#heading-highlight1 {
    background-color: #DBFF00;
    height: 1em;
    width: 30em;
    position: absolute;
    z-index: -1;
    margin-top: -2em;
}

#project-img1 {
    width: 23rem;
    height: auto;
    margin-left: 20px;
    z-index: 2;
    position: absolute;
    margin-top: 1rem;
    right: 11rem;
}

#project-img2 {
    width: 9rem;
    position: absolute;
    margin-top: 8rem;
    right: 29rem;
    z-index: 2;
    border: solid 1px #DBFF00;
    border-radius: .5rem;
}

.offset-projects {
    background-color: #DBFF00;
    width: 25rem;
    height: 25rem;
    position: absolute;
    right: 14rem;
    margin-top: 4rem;
}

.offset-projects2 {
    background-color: #DBFF00;
    width: 25rem;
    height: 25rem;
    position: absolute;
    right: 10rem;
}

/* Contact */
.contacts i {
    padding-right: 4rem;
    font-size: 2rem;
    margin-top: 1rem;;
}

.main a:hover {
    background-color: #DBFF00;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 2rem;
}

/* Responsive design adjustments */

@media only screen and (max-width: 1340px) {
    .main {
        padding: 3rem 6rem 0;
    }

    header {
        padding: 6rem 6rem 0;
    }

    .portrait {
        width: 22rem;
        right: 6rem;
    }

    .offset-about {
        width: 22rem;
        height: 22rem;
        right: 10rem;
    }

    .offset-projects {
        right: 10rem;
    }

    .offset-projects2 {
        right: 6rem;
    }

    #project-img1 {
        right: 7rem;
    }

    #project-img2 {
        right: 25rem;
    }
}

@media only screen and (max-width: 1214px) {
    #heading-highlight1 {
        width: 24rem;
        margin-top: -3.25rem;
    }

    .projects .container {
        width: 45%;

    }
}

@media only screen and (max-width: 1040px) {
    header h1 {
        font-size: 3rem;
    }

    nav ul li {
        font-size: 1.2rem;
    }

    .header-alignment {
        margin-top: -10px;
    }

    .main h2 {
        font-size: 1.75rem;
    }

    .main h3 {
        font-size: 1.25rem;
    }

    .portrait {
        width: 20rem;
    }

    .offset-about {
        width: 20rem;
        height: 20rem;
        right: 8rem;
        margin-top: 2rem;
    }

    .skills {
        font-size: 1.5rem;
    }

    .offset-projects {
        width: 20rem;
        height: 20rem;
        right: 8rem;
        margin-top: 2rem;
    }

    .offset-projects2 {
        width: 20rem;
        height: 20rem;
    }

    #project-img1 {
        width: 18rem;
    }

    #project-img2 {
        right: 20rem;
        width: 7rem;
        margin-top: 6.5rem;
    }

    #heading-highlight1 {
        width: 18rem;
    }
}

@media only screen and (max-width: 910px) {
    .main {
        padding: 1.75rem 3rem 0;
    }

    .container {
        padding-right: 0;
        width: 55%;
    }

    header {
        padding: 4rem 3rem 0;
    }

    nav ul li {
        padding: 0 0 0 2rem;
        font-size: 1.25rem;
    }

    header h1 {
        font-size: 2.75rem;
    }

    .portrait {
        width: 15rem;
        right: 3rem;
    }

    .offset-about {
        width: 15rem;
        height: 15rem;
        right: 6rem;
    }

    .offset-projects {
        width: 17rem;
        height: 17rem;
        right: 6rem;
    }

    .offset-projects2 {
        width: 17rem;
        height: 17rem;
        right: 3rem;
    }

    #project-img2 {
        right: 16rem;
        margin-top: 5rem;
        width: 6rem;
    }

    #project-img1 {
        right: 4rem;
        width: 15.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .main {
        padding: 1rem 1rem 0;
    }

    .main h2 {
        font-size: 1.5rem;
    }

    .container {
        width: 50%;
    }

    .projects h3 {
        margin-top: 0;
        font-size: 1rem;
    }

    header {
        padding: 2rem 1rem 0;
    }

    nav ul li {
        padding: 0 0 0 1rem;
        font-size: 1rem;
    }

    header h1 {
        font-size: 2rem;
    }

    .header-alignment {
        margin-top: -7px;
    }

    .portrait {
        width: 15rem;
        right: 1rem;
    }

    .offset-about {
        right: 2.25rem;
    }

    .offset-projects {
        width: 18rem;
        height: 18rem;
        right: 2.25rem;
    }

    .offset-projects2 {
        width: 18rem;
        height: 18rem;
        right: 1rem;
    }

    #heading-highlight1 {
        width: 12rem;
        margin-top: -2.75rem;
    }

    #project-img2 {
        right: 13.5rem;
        margin-top: 6rem;
        width: 6rem;
    }

    #project-img1 {
        right: 2rem;
        width: 15.5rem;
    }

    .contact .container {
        width: 100%;
    }
}

@media only screen and (max-width: 580px) {
    .main {
        display: block;
    }

    .main .container {
        width: 100%;
        display: block;
        padding-top: 2rem;
    }

    .projects .container {
        padding-top: 0;
    }

    .portrait {
        position: static;
        width: 50%;
        height: auto;
        margin-left: 25%;
    }

    .offset-about {
        right: 20%;
        margin-top: 2rem;
        width: 50%;
        height: 16rem;
    }

    #heading-highlight1 {
        width: 20rem;
    }

    .offset-projects {
        left: 2%;
    }

    .offset-projects2 {
        left: 10%;
    }

    #project-img1 {
        left: 10%;
    }

    #project-img2 {
        left: 4%;
    }

    .contacts {
        text-align: center;
    }

    .contacts i {
        padding: 0 3rem;
    }
}

@media only screen and (max-width: 500px) {
    .offset-about {
        height: 13rem;
    }
}

@media only screen and (max-width: 425px) {
    header {
        align-items: last baseline;
    }

    header h1 {
        font-size: 3rem;
    }

    nav ul {
        text-align: right;
        display: block;
    }

    nav ul li {
        padding-top: .75rem;
    }
    .header-alignment {
        margin-top: -.6rem;
    }
    
    .offset-about {
        height: 11rem;
    }
}

@media only screen and (max-width: 375px) {
    header h1 {
        font-size: 2.5rem;
    }

    .header-alignment {
        margin-top: -.5rem;
    }
    
    nav ul li {
        font-size: 1rem;
    }
    .portrait {
        width: 60%;
        margin-left: 20%;
    }

    .offset-about {
        width: 60%;
        right: 15%;
    }

    #heading-highlight1 {
        width: 12rem;
    }

    .contacts i {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 320px) {
    .offset-about {
        height: 9.5rem;
    }

    .offset-projects {
        width: 17rem;
        height: 17rem;
        margin-top: 4rem;
    }

    .offset-projects2 {
        width: 17rem;
        height: 17rem;
    }

    .contacts i {
        padding: 0 1rem;
    }

    #project-img2 {
        right: 12.75rem;
        margin-top: 7rem;
    }
}